body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #2e3192, #1bffff);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clock {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}

.time {
  font-size: 32px;
  color: #333;
}

.input-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.input-group input {
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70px;
}

.set-alarm-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.set-alarm-btn:hover {
  background-color: #0056b3;
}


/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
  .clock {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .time {
    font-size: 24px;
  }

  .set-alarm-btn {
    font-size: 16px;
  }

  .alarm-settings input {
    font-size: 16px;
    width: 60px;
  }

  .alarm {
    font-size: 20px;
  }
}


